@model DatabaseAccess.UserTypeTable

@{
    ViewBag.Title = "Delete";
}
<h3 class="text-danger">確定要刪除嗎?</h3>
<div>
    <h4>使用者角色</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            使用者角色
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
            詳細內容
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="刪除" class="btn btn-danger" /> 
    @Html.ActionLink("回主頁", "Index", null, new { @class = "btn btn-default" })
</div>
    }
</div>
