@model DatabaseAccess.UserTypeTable

@{
    ViewBag.Title = "Details";
}
<div>
    <h4>使用者角色</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            使用者角色
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
            詳細內容
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.UserTypeID }, new { @class="btn btn-primary"}) 
    @Html.ActionLink("回主頁", "Index",null, new { @class = "btn btn-default" })
</p>
