@model IQueryable<MVC_SMS.ViewModels.EmployeeCertificationTableVM>

<div class="card mb-4 shadow border-primary">
    <div class="card-header">
        證照
    </div>
    <div class="card-body">
        <div class="form-horizontal">
            <div class="row">

                @if (Model != null && Model.Any())
                {
                    foreach (var certification in Model)
                    {
                        <div class="col-md-6">
                            <div class="form-group">
                                @certification.CertificationName
                                @string.Format("{0: yyyy/MM/dd}", certification.FromYear)
                                @certification.LevelCertification
                            </div>
                        </div>
                    }
                }


            </div> <!-- END PANEL BODY -->
        </div> <!-- END PANEL DEFAULT CERTIFICATIONS -->
    </div>
</div>

