@model IQueryable<MVC_SMS.ViewModels.EmployeeLanguageTableVM>


<div class="card mb-4 shadow border-success">
    <div class="card-header">
        語言
    </div>
    <div class="card-body">
        <div class="form-horizontal">
            <div class="row">

                @if (Model != null && Model.Any())
                {
                    foreach (var language in Model)
                    {
                        <div class="col-md-6">
                            <div class="form-group">

                                @language.LanguageName
                                @language.Proficiency
                            </div>
                        </div> <!--END DETAILS-->

                    }
                }
            </div> <!-- END PANEL BODY -->
        </div> <!-- END PANEL DEFAULT LANGUAGE -->

    </div>
</div>