@model MVC_SMS.ViewModels.EmployeeSkillTableVM

<div class="card mb-4 shadow">
    <div class="card-header">
        技能
    </div>
    <div class="card-body">
        <form>
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SkillName, "技能", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.SkillName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SkillName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div> <!-- END PANEL BODY-->
                <button type="button" id="AddSkill" class="btn btn-primary"> <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>  新增技能(可新增多個) </button>
            </div>
        </form>
    </div>
</div>   <!-- END SKILLS FIRST LEVEL-->
