@model IQueryable<MVC_SMS.ViewModels.EmployeeWorkExperienceTableVM>

<div class="card mb-4 shadow border-warning">
    <div class="card-header">
        工作經驗
    </div>
    <div class="card-body">
            <div class="form-horizontal">
                <div class="row">

                    @if (Model != null && Model.Any())
                    {
                        foreach (var work in Model)
                        {
                            <div class="col-md-6">
                                <div class="form-group">
                                    @string.Format("{0} : {1}", work.Company, work.Title)
                                    @string.Format("{0: yyyy} - {1: yyyy}", work.FromYear, work.ToYear)
                                    @work.Country

                                    @work.Description


                                </div> <!--END DETAILS-->
                            </div> <!--END BOX-->
                        }
                    }

                </div> <!-- END PANEL BODY -->
            </div> <!-- END PANEL DEFAULT WORK EXPERIENCE -->
    </div>
</div>