
@{
    ViewBag.Title = "CV";
}
<div class="container">
    @{ Html.RenderAction("GetPersonnalInfoPartial", "Resume");}
    @{ Html.RenderAction("GetEducationCVPartial", "Resume");}
    @{ Html.RenderAction("WorkExperienceCVPartial", "Resume");}
    @{ Html.RenderAction("SkillsCVPartial", "Resume");}
    @{ Html.RenderAction("CertificationsCVPartial", "Resume");}
    @{ Html.RenderAction("LanguageCVPartial", "Resume");}
</div>